.topNav {
    
}

.nav-logo {
    width: 23%;
}

a:link {
    text-decoration: none;
    color: #8758b9;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #710adf;
}